{% extends 'base.html'%}
{%block content%}
{%for pitch in business%}
<div class="row ">
  <div class="col-md-6 mb-3">
    <!-- Card -->
    <div class="card">
      <!--Card content-->
      <div class="card-body">
        <h5>Name: {{pitch.author.username}}</h5>

        <h6 class="card-title">Category: {{pitch.category}}</h6>
        <!--Text-->
        <p class="card-text"> Pitch: {{pitch.pitch}}</p>
        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
        <a href="{{url_for('main.new_comment', pitch_id =pitch.id)}}"> <button type="button" class="btn btn-light-blue btn-md">Comment</button></button></a> 
        <a href=""><button><i class="fab fa-gratipay fa-2x"></i></button></a>
       <a href=""><button><i class="fas fa-heart-broken fa-2x"></i></button></a> 
      </div>

    </div>
    <!-- Card -->
  </div>
</div>
{%endfor%}
{%endblock%}