{% extends 'base.html'%}

{%block content%}
<!--Grid row-->
<div class="row">

  <!--Grid column-->
  <div class="col-md-6 mb-4">

    <!-- Card -->
    <div class="card gradient-card">

        <div class="card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg)">

          <!-- Content -->
          <a href="/pitches/Pick-up">
            <div class="text-white d-flex h-100 mask blue-gradient-rgba">
              <div class="first-content align-self-center p-3">
                <h3 class="card-title">Pick-up Lines</h3>
                <p class="lead mb-0">Click on this card to see details</p>
              </div>
              <div class="second-content align-self-center mx-auto text-center">
                <i class="fas fa-user-tie fa-3x"></i>              </div>
            </div>
          </a>

        </div>
        <div class="card-body white">
         
          <h4 class="text-uppercase font-weight-bold my-4">Details</h4>
          <p class="text-muted" align="justify">Looking for a suitor? THrow in your pick-up lines here , who knows who might view them.</p>
        </div>

    </div>
    <!-- Card -->

  </div>
  <!--Grid column-->

  <!--Grid column-->
  <div class="col-md-6 mb-4">

    <!-- Card -->
    <div class="card gradient-card">

        <div class="card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">

          <!-- Content -->
          <a href="/pitches/Business">
            <div class="text-white d-flex h-100 mask purple-gradient-rgba">
              <div class="first-content align-self-center p-3">
                <h3 class="card-title">Business Pitches</h3>
                <p class="lead mb-0">Click on this card to see details</p>
              </div>
              <div class="second-content  align-self-center mx-auto text-center">
                <i class="fas fa-chart-line fa-3x"></i>
              </div>
            </div>
          </a>

        </div>
        <div class="card-body white">
          
          
          <h4 class="text-uppercase font-weight-bold my-4">Details</h4>
          <p class="text-muted" align="justify">View business pitches written by different people and also comment on them.</p>
        </div>

    </div>
    <!-- Card -->

  </div>
  <!--Grid column-->

  <!--Grid column-->
  <div class="col-md-6 mb-4">

    <!-- Card -->
    <div class="card gradient-card">

        <div class="card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">

          <!-- Content -->
          <a href="/pitches/Job">
            <div class="text-white d-flex h-100 mask peach-gradient-rgba">
              <div class="first-content align-self-center p-3">
                <h3 class="card-title">Job Pitches</h3>
                <p class="lead mb-0">Click on this card to see details</p>
              </div>
              <div class="second-content  align-self-center mx-auto text-center">
                <i class="fas fa-briefcase fa-3x"></i>              </div>
            </div>
          </a>

        </div>
        <div class="card-body white animated">
 
          <h4 class="text-uppercase font-weight-bold my-4">Details</h4>
          <p class="text-muted" align="justify">Here are some jobe pitches written by different people for different jobs. Fell free to comment and also write your own.</p>
        </div>

    </div>

  </div>
  <div class="col-md-6 mb-4">
    <div class="card gradient-card">

        <div class="card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">

          <!-- Content -->
          <a href="/pitches/Band">
            <div class="text-white d-flex h-100 mask aqua-gradient-rgba">
              <div class="first-content align-self-center p-3">
                <h3 class="card-title">Band Pitches</h3>
                <p class="lead mb-0">Click on this card to see more pitches</p>
              </div>
              <div class="second-content  align-self-center mx-auto text-center">
                <i class="fas fa-music fa-3x"></i>              </div>
            </div>
          </a>

        </div>
        <div class="card-body white">
         
          <h4 class="text-uppercase font-weight-bold my-4">Details</h4>
          <p class="text-muted" align="justify">You love music? We got you too, write pitches to join bands and also comment no those here. If you have a band, you can select new members from the pitches.</p>
        </div>

    </div>
    <!-- Card -->

  </div>
  <!--Grid column-->

</div>
{%endblock%}